<%- include('partials/head') %>
<%- include('partials/nav') %>

<div class="container">
  <h2>Login Form</h2>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Login</button>
  </form>
  <a href="/signup">Create an account</a>
</div>

<%- include('partials/foot') %>
